<app-project-cover title="Pearly" image="assets/images/project-covers/Cover Pearly.jpg">
</app-project-cover>

<div class="container">
    <app-info-section projectName="pearly"></app-info-section>

    <!-- Problem -->
    <section>
        <app-page-section sectionTitle="Problem">
            <div class="row g-4">
                <div class="col-2 col-md-1 big-number">
                    01
                </div>
                <div class="col-10 col-md-5">
                    There is no possibility to play tabletop games with friends when:
                    <ul>
                        <li>they are not in the same place;
                        </li>
                        <li>someone forgot to bring or does not have the game;
                        </li>
                        <li>the game is not available in an electronic version.
                        </li>
                    </ul>

                </div>
                <div class="col-2 col-md-1 big-number">
                    02
                </div>
                <div class="col-10 col-md-5">
                    It's difficult to test new games in terms of the design or feasibility of rules, amongst other
                    aspects.
                    Game creators need every time to find players to play with.
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Idea -->
    <section>
        <app-page-section sectionTitle="Idea">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <h6>Social network to play games online
                    </h6>
                    From well-known to new ones.
                    Find people to play with (friends or online people around the world).
                    Discover games looking at people profiles (what they created, what they played).
                    Game publishing houses can sponsor their games.
                </div>

                <div class="col-12 col-md-6">
                    <h6>Create new games or modify existing ones
                    </h6>
                    Create new games from scratch.
                    Download templates of existing games and modify them to create a new version.
                    Create more accessible games for people with special needs (e.g. UNO for color blindness).
                </div>

                <div class="col-12 col-md-6">
                    <h6>Test games through statistics and surveys
                    </h6>
                    How many people played, how long the match was, how difficult it was, the average time it took per
                    turn.
                    Game creators can understand how well the game works, and eventually change the rules or the cards.
                    Users can choose a game based on its statistics.
                </div>

                <div class="col-12 col-md-6">
                    <h6>Improve test design</h6>
                    Both systems should have the same number of performing actors since we discovered that it influences
                    the
                    user experience.
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Target Users -->
    <section>
        <app-page-section sectionSubtitle="Target Users">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/users-01.jpg">
                    <h6 class="text-center">Tabletop game players
                    </h6>
                    <ul>
                        <li>Main goal of our team: expectation with ICT.
                        </li>
                        <li>Characteristics: people who are “legally” able to play.
                        </li>
                        <li>Motivations: social activity, entertainment, competing (money)
                        </li>
                        <li>Capabilities: medium-high level of technology use.
                        </li>
                        <li>Observation: difficulty of games increases with the advancement of cognition.
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <img class="img-fluid mb-2" style="width: 100%;" src="assets/images/Projects/pearly/users-02.jpg">
                    <h6 class="text-center">Game creators
                    </h6>
                    <ul>
                        <li>Main goal of our team: help in getting valuable feedback about created games and provide a
                            platform for expansion.
                        </li>
                        <li>Activities: creation, testing, promoting, modifying, customizing, digitalizing.
                        </li>
                        <li>Characteristics: people who are legally able to create, for profession or for hobby.
                        </li>
                        <li>Capabilities: medium-high level of technology use.
                        </li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Analysis of Context of use -->
    <section>
        <app-page-section sectionTitle="Analysis of Context of use" sectionSubtitle="Ethnographical observations">
            <div class="row mb-4">
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/observation-template.jpg">
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <h6>Tabletop game players</h6>
                    <p>
                        Who: people playing card and board games. From kids, to young adults, to adults over 40 coming
                        with their children. Most of them are students (school bags under the table). Most of them are
                        men.
                        Where: Epic Boardgame Cafè. Small and a bit crowded, but nobody seems disturbed. Everyone stays
                        and plays in a respectful way. Full of games to take with recommendations on the wall.
                        What: arrival and meeting at the place, choosing a game, setting up the game, playing the game.
                        Extra: eating, drinking, and relaxing.
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <h6>Game creators
                    </h6>
                    <p>
                        Who: professional game designers who were seen in their natural context
                        How: impossible to observe them while creating a game, so we watched videos on YouTube.
                        Where: their room. Plenty of game-related objects.
                        What: gaming community is very strong and they help each other a lot. The YouTuber set the
                        limitation (principle) to start out with a game that only consists of cards because the error
                        possibilities are decreased and cards can be multi-purposed and can have more types.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-7 col-md-4">
                    <img class="img-fluid mb-4" src="assets/images/Projects/pearly/observation-01.jpg">
                    <img class="img-fluid" src="assets/images/Projects/pearly/observation-02.jpg">
                </div>
                <div class="col-7 col-md-4">
                    <img class="img-fluid mb-4" src="assets/images/Projects/pearly/observation-04.jpg">
                    <img class="img-fluid" src="assets/images/Projects/pearly/observation-05.jpg">
                </div>
                <div class="col-7 col-md-4">
                    <img class="img-fluid mb-4" src="assets/images/Projects/pearly/observation-06.jpg">
                    <img class="img-fluid" src="assets/images/Projects/pearly/observation-07.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Environment analysis">
            <div class="row mb-4">
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/environment-analysis.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Interviews">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <img class="img-fluid mb-2" src="assets/images/Projects/pearly/interview-01.jpg">
                        <h6 class="text-center">Game Players</h6>
                    </div>

                    Participants demographic:
                    <ul>
                        <li>Students and workers (developer, some engineers, professor).
                        </li>
                        <li>From Spain, Bulgary, Italy, America.
                        </li>
                        <li>Between 18 and 24 years old, an adult of 53 years old.
                        </li>
                        <li>Use smartphone and laptop. Some of them also tablet.
                        </li>
                    </ul>

                    Findings:
                    <ul>
                        <li>On average, men play twice or three times a week, while women play once a month
                        </li>
                        <li>The social aspect of the activity is really important.
                        </li>
                        <li>Time constraints (like duration of the game or schedule of free time) have a great impact on
                            the activity.
                        </li>
                        <li>Some players model games as a hobby.
                        </li>
                        <li>Different games will be played in different situations.
                        </li>
                        <li>Cognitive levels have a big role in decision-making about the game. For example, games
                            played in a family context are different then games played with friends
                        </li>
                        <li>The number of players can vary from 2 to 10 people or more. The major trend of this answer
                            is about 4 people.
                        </li>
                        <li>Play with friends, family members, or colleagues.
                        </li>
                        <li>When the game is not available: choose another one, play the online version, invent a new
                            version. It doesn't happen a lot of times.
                        </li>
                        <li>Not enough people to play: play in couples or groups, make people wait for the next round to
                            play, choose another game. It happens a lot of times.
                        </li>
                        <li>Discover new games from friend recommendations, the Internet, Youtube channels, in places
                            with games.
                        </li>
                        <li>Almost all of them would like to play more. What's stopping them: lack of time, study/work,
                            friends not always available.
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <img class="img-fluid mb-2" src="assets/images/Projects/pearly/interview-01.jpg">
                        <h6 class="text-center">Game creators</h6>
                    </div>

                    Participants demographic:
                    <ul>
                        <li>2 game creators (one followed on YouTube) for profession, 1 game creator for hobby.
                        </li>
                        <li>From USA, Spain.
                        </li>
                        <li>23 and 29 years old.
                        </li>
                        <li>Use smartphone and computer.
                        </li>
                    </ul>

                    Findings:
                    <ul>
                        <li>Professionals prefer paper prototyping, while the hobby-creator prefers coding and printing
                            games.
                        </li>
                        <li>Process of game creation:
                            <ol>
                                <li>Brainstorming session (take ideas also from other games).
                                </li>
                                <li>From a week up to 1-2 months: figure out all the details of the idea.
                                </li>
                                <li>Make a prototype: physical tools, laminate elements when they feel it achieved a
                                    good version.
                                </li>
                                <li>Playtests: alone, discovering scenarios and new, unexpected outcomes. The rules are
                                    getting more fixed.
                                </li>
                            </ol>
                        </li>
                        <li>Hobby-creator is influenced by external factors (requests from friends) and is limited by
                            the used technology.
                        </li>
                        <li>Experience and playtests reveal if the design is good or bad. The "core idea" is very
                            important.
                        </li>
                        <li>Important design decisions consider the age and cognitive levels of the target group and the
                            number of players. The competitiveness and excitement of the game have a high priority.
                        </li>
                        <li>Early testing with friends or on their own. Then, testing in game conventions or dedicated
                            events.
                        </li>
                        <li>Considered data during testing: body language, analysis of actions, elements used,
                            questionnaires, and interviews.
                        </li>
                        <li>Time to perform a playtest: length of game * 120% + Q&A.
                        </li>
                        <li>Promote games through game conventions and through online game community-related platforms.
                        </li>
                        <li>Difficulties: discover problems in late-stage.
                        </li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Design Thinking -->
    <section>
        <app-page-section sectionTitle="Design Thinking" sectionSubtitle="Task Scenarios">
            <div>
                <img class="img-fluid mb-4" style="background-color: white;"
                    src="assets/images/Projects/pearly/scenario-01.jpg">
            </div>
            <div>
                <img class="img-fluid" style="background-color: white;"
                    src="assets/images/Projects/pearly/scenario-02.jpg">
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Value Proposition Canvas">
            <div>
                <img class="img-fluid mb-4" style="background-color: white;"
                    src="assets/images/Projects/pearly/valuepropcanvas-01.jpg">
            </div>
            <div>
                <img class="img-fluid" style="background-color: white;"
                    src="assets/images/Projects/pearly/valuepropcanvas-02.jpg">
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="User Journey Map">
            <div>
                <img class="img-fluid mb-4" style="background-color: white;"
                    src="assets/images/Projects/pearly/journey-01.jpg">
            </div>
            <div>
                <img class="img-fluid" style="background-color: white;"
                    src="assets/images/Projects/pearly/journey-02.jpg">
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Task organization model">
            <div>
                <img class="img-fluid mb-4" style="background-color: white;"
                    src="assets/images/Projects/pearly/taskmodel-01.jpg">
            </div>
            <div>
                <img class="img-fluid" style="background-color: white;"
                    src="assets/images/Projects/pearly/taskmodel-02.jpg">
            </div>
        </app-page-section>
    </section>

    <!-- Low-Fidelity Prototype -->
    <section>
        <app-page-section sectionSubtitle="Sequence of events">
            <div class="row">
                <h6>Smartphone</h6>
                <div class="col-4 col-lg-3">
                    <img class="img-fluid mb-4" style="width: 100%;" src="assets/images/Projects/pearly/lowfi-phone-01.jpg">
                </div>
                <div class="col-12 col-lg-9">
                    <img class="img-fluid mb-4" style="width: 100%;" src="assets/images/Projects/pearly/lowfi-phone-02.jpg">

                    <ul>
                        <li>
                            People should be in the same room while playing.
                        </li>
                        <li>
                            The user needs to scan the playing surface to start playing.
                        </li>
                        <li>
                            AR Mode during the playing: it is possible to switch between AR Mode (where the cards on the
                            table are displayed) and card view mode (where only your cards are displayed).
                        </li>
                        <li>
                            Search and add a friend manually (like in social media) to play with.
                        </li>
                        <li>Friends, followers, followings.
                        </li>
                        <li>Game-oriented approach: the user first selects the game and then select the action.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <h6>Tablet</h6>
                <div class="col-6 col-lg-3">
                    <img class="img-fluid mb-4" style="width: 100%;" src="assets/images/Projects/pearly/lowfi-tablet-01.jpg">
                </div>
                <div class="col-12 col-lg-9">
                    <img class="img-fluid mb-4" src="assets/images/Projects/pearly/lowfi-tablet-02.jpg">

                    <ul>
                        <li>
                            People can play remotely.
                        </li>
                        <li>
                            Add a friend sending the code (like Kahoot).
                        </li>
                        <li>
                            No friends, only followers and followings.
                        </li>
                        <li>
                            Action-oriented: the user first selects the action and then select the game.
                        </li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Usability Testing -->
    <section>
        <app-page-section sectionTitle="Usability Testing" sectionSubtitle="Tasks">
            <div>
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/task-01.jpg">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/task-02.jpg">
                </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Observation sheet">
            <ul>
                <li>Is this task completed successfully?
                </li>
                <li>Number of errors
                </li>
                <li>Number of clicks
                </li>
                <li>Actions performed incorrectly related to the errors
                </li>
                <li>Non-verbal communication
                </li>
            </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Interview">
            <div>
                <img class="img-fluid" style="background-color: white;"
                    src="assets/images/Projects/pearly/interview.jpg">
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Results">
            <div>
                The tablet prototype achieved a higher score amongst users regarding every usability attribute.

                <div>
                    <img class="img-fluid mb-4 mt-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/effectiveness-01.jpg">
                </div>

                <div >
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-01.jpg">
                </div>

                <div >
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/effectiveness-02.jpg">
                </div>

                <div >
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-02.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="SUS">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <img class="img-fluid mb-2" src="assets/images/Projects/pearly/sus-01.jpg">
                        <h6 class="text-center">Phone prototype score: 58.33</h6>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <img class="img-fluid mb-2" src="assets/images/Projects/pearly/sus-02.jpg">
                        <h6 class="text-center">Tablet prototype score: 76.66
                        </h6>
                    </div>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Comparison">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <h6 >Smartphone
                        </h6>
                        Complex
                        Difficulties in remembering all the cards, due to the changing between “card view” and “table
                        view” (AR functionality)
                        Interesting idea of AR
                        Difficulties to interpret buttons
                        Frustrations with not working buttons (not implemented features)
                        Mandatory step of reading game rules
                        Error in the number of participants
                        Next buttons are provided in the bottom right (accessible in a comfortable way)
                        Lofical flow of actions
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="col d-flex flex-column justify-content-center">
                        <h6 >Tablet</h6>
                        Easy to use
                        All the cards are shown on the screen (bigger size of the screen)
                        No AR support provided
                        Buttons have labels that help the user
                        Frustrations with not working buttons (not implemented features)
                        The user can skip game rules
                        Participants join automatically the game
                        Next buttons in the set-up of the game is uncomfortable to click and difficult to see
                        Confusing flow of actions
                    </div>
                </div>
                <div>
                    The tablet prototype achieved a higher score amongst users regarding every usability attribute.
                    However, if we zoom in more into the problems and certain aspects of the prototypes, we can find
                    problems with both of them. → tablet prototype as the basis of the next iteration, including
                    positive aspects of the phone prototype.
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- High-Fidelity Prototype -->
    <section>
        <app-page-section sectionTitle="High-Fidelity Prototype" sectionSubtitle="Navigation map">
            <img class="img-fluid" src="assets/images/Projects/pearly/map.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Screens from Android App">
            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-4">
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-01.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-02.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-03.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-04.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-05.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-06.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-07.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-08.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-09.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-10.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-11.jpg">
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/pearly/screen-12.jpg">
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Usability Testing -->
    <section>
        <app-page-section sectionTitle="Usability Testing" sectionSubtitle="Effectiveness analysis">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/effectiveness-03.jpg">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/effectiveness-04.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Efficiency analysis">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-03.jpg">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-04.jpg">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid mb-4" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-05.jpg">
                </div>
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/efficiency-06.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="SUS">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;"
                        src="assets/images/Projects/pearly/sus-03.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="UEQ">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" style="background-color: white;" src="assets/images/Projects/pearly/ueq.jpg">
                </div>
            </div>
        </app-page-section>
    </section>
</div>