<app-project-cover title="Bookflix" image="assets/images/project-covers/Cover Bookflix.jpg"></app-project-cover>

<div class="container">
    <app-info-section projectName="bookflix"></app-info-section>

    <!-- Motivation -->
    <section>
        <app-page-section sectionTitle="Motivation">
            Have a better identification of the distinct users and reasons why some of them don’t read, so that we can
            understand if they can be included as potential users.
            <ul>
                <li>Understand the reading frequency of people.
                </li>
                <li>Understand personal reading habits (when, where, what... they read).
                </li>
                <li>Understand the process for finding reading materials.
                </li>
            </ul>
        </app-page-section>
    </section>

    <!-- Users -->
    <section>
        <app-page-section sectionSubtitle="Users">
            <div class="row g-4">
                <div class="col d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/bookflix/users-01.jpg">
                    <h6 class="text-center">Typical Reader
                    </h6>
                </div>
                <div class="col d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/bookflix/users-02.jpg">
                    <h6 class="text-center">Not-usual reader
                    </h6>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- User Research -->
    <section>
        <app-page-section sectionSubtitle="User research" sectionSubtitle="Questionnaire (Google Forms)">
            <div>
                <ul>
                    <li>To have a better idea on how to define who is a typical reader or not in Spain (threshold of
                        read books in a year)
                    </li>
                    <li>To have a better vision of what the people read.</li>
                </ul>

                <ol>
                    <li>How old are you?
                    </li>
                    <li>Are you student or do you work?
                    </li>
                    <li>How many books you read per year?
                    </li>
                    <li>How much money you spend by buying books every year? (Closed answers with ranges of money)
                    </li>
                    <li>Real books or e-book, which one do you prefer?
                    </li>
                    <li>Renting book or buying book, what makes you feel better?
                    </li>
                    <li>Which approach do you use to find the book you want?
                        <ul>
                            <li>kindle market
                            </li>
                            <li>bookshop
                            </li>
                            <li>library
                            </li>
                            <li>others _______________________
                            </li>
                        </ul>
                    </li>
                    <li>Do you also read one of these?
                        <ul>
                            <li>magazine
                            </li>
                            <li>comics
                            </li>
                            <li>academic
                            </li>
                            <li>others _______________________
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Interviews (face to face)">
            <ol>
                <li>Age - Study/Work
                </li>
                <li>How many books you read per year?
                </li>
            </ol>

            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <h6>For typical reader:
                    </h6>
                    <ol>
                        <li>What do you usually read?
                        </li>
                        <li>Where do you usually read?
                        </li>
                        <li>Do you feel like you would want to read more? If so, what’s stopping you?
                        </li>
                        <li>Have you ever used an e-book reader?
                        </li>
                        <li>(If the user doesn’t use the ebook reader) Why don’t you use the ebook reader?
                        </li>
                        <li>(If the user doesn’t use the ebook reader) Do you take books outside with you? Which
                            problems do you have while doing so?
                        </li>
                        <li>Do you read books that you only want to read or are you usually open to suggestion?
                        </li>
                    </ol>
                </div>
                <div class="col-12 col-md-6">
                    <h6>For not usual reader:
                    </h6>
                    <ol>
                        <li>Do you feel like you would want to read more? If so, what’s stopping you?
                        </li>
                        <li>Are there some books that you want to read but you don’t know where to find these?
                        </li>
                        <li>Have you ever tried an e-book reader as an alternative to classic books?
                        </li>
                    </ol>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Results">
            <div class="row">
                <div class="col-lg-4">
                    <h6>3 books
                    </h6>
                    <p>Threshold between readers and nonreaders.
                        Defined through the survey data.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h6>Having more time for reading, being relaxed, find easily what they want, being up-to-date.
                    </h6>
                    <p>The main needs of the users
                    </p>
                </div>
                <div class="col-lg-4">
                    <h6>Quick breaks, waiting dor someone, at the library
                    </h6>
                    <p>When and where users like to read. Noticed through ethnographic observation
                    </p>
                </div>
            </div>

            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/results-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/results-02.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/results-03.jpg">
        </app-page-section>
    </section>

    <!-- Data Elaboration -->
    <section>
        <app-page-section sectionTitle="Data elaboration" sectionSubtitle="Points of view">
            <div>
                <ul>
                    <li>Maria, 22 years old student needs some approach to easily carry books in order to comfortably
                        read without feeling tired.
                    </li>
                    <li>Luis, 35 years old reader needs to be able to acquire books simply and legally in order to be
                        happy about not having to take risks looking for digital books on unreliable pages
                    </li>
                    <li>Jose, 26 years old reader needs to find more books that he wants ASAP in order to be relaxed and
                        enjoy the most his free moments without wasting time.
                    </li>
                </ul>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Personas">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/personas-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/personas-02.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/personas-03.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Task scenarios">
            <div class="row">
                <div class="col col-12 col-lg-10 col-xl-6"><img class="img-fluid mb-4" src="assets/images/Projects/bookflix/task-scenarios-01.jpg"></div>
                <div class="col col-12 col-lg-10 col-xl-6"><img class="img-fluid mb-4" src="assets/images/Projects/bookflix/task-scenarios-02.jpg"></div>
                <div class="col col-12 col-lg-10 col-xl-6"><img class="img-fluid" src="assets/images/Projects/bookflix/task-scenarios-03.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Hierarchical Task Analysis">
            <img class="img-fluid" src="assets/images/Projects/bookflix/hierarchical-task-analysis.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Environment analysis">
            <div class="row g-4">
                <div class="col-12 col-md-8 col-lg-4">
                    <img class="img-fluid" src="assets/images/Projects/bookflix/environmental-analysis-01.jpg">
                </div>
                <div class="col-12 col-lg-8">
                    <h6>Transport
                    </h6>
                    Technical aspects:
                    <ul>
                        <li>Probability without WiFi, or stable signal.
                        </li>
                    </ul>
                    Physical aspects:
                    <ul>
                        <li>Not comfortable for reading (no seat, shaking or sharp break).
                        </li>
                        <li>Not a lot of space to lay down your baggage.
                        </li>
                        <li>Noise might disturb reading.
                        </li>
                    </ul>
                    Sociological aspects:
                    <ul>
                        <li>Other passengers might disturb to get off.
                        </li>
                    </ul>
                </div>

                <div class="col-8 col-md-8 col-lg-4">
                    <img class="img-fluid" src="assets/images/Projects/bookflix/environmental-analysis-02.jpg">
                </div>
                <div class="col-12 col-lg-8">
                    <h6>Outside places
                    </h6>
                    Technical aspects:
                    <ul>
                        <li>Probability without Wifi, or stable signal.
                        </li>
                    </ul>
                    Physical aspects:
                    <ul>
                        <li>Some place don’t have stable light to read.
                        </li>
                        <li>Weather sometimes not suitable for reading paper books.
                        </li>
                    </ul>
                    Sociological aspects:
                    <ul>
                        <li>Other people can disturb by yelling.
                        </li>
                    </ul>
                </div>

                <div class="col-8 col-md-8 col-lg-4">
                    <img class="img-fluid" src="assets/images/Projects/bookflix/environmental-analysis-03.jpg">
                </div>
                <div class="col-12 col-lg-8">
                    <h6>Inside Place
                    </h6>
                    Technical aspects:
                    <ul>
                        <li>Access to Wi-Fi.
                        </li>
                    </ul>
                    Physical aspects:
                    <ul>
                        <li>Comfortable to read.
                        </li>
                        <li>Nice temperature.
                        </li>
                        <li>Sufficient light to read.
                        </li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Low-fidelity prototype -->
    <section>
        <app-page-section sectionTitle="Low-fidelity prototype" sectionSubtitle="Alternative designs">
            <div class="row g-4 alternative-designs">
                <div class="col-2 col-md-1 big-number">
                    <i class="bi bi-phone"></i>
                </div>
                <div class="col-10 col-md-5">
                    <h6>Smartphone</h6>
                </div>

                <div class="col-2 col-md-1 big-number">
                    <i class="bi bi-tablet"></i>
                </div>
                <div class="col-10 col-md-5">
                    <h6>Tablet</h6>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Navigation map">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/navigation-map-01.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/navigation-map-02.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Tasks">
            <div class="row g-4">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/wjWDS0WioIE?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/55hqRHnWoFA?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="TASK 1: Search, Read and Dark Mode">
            <div>
                <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/tasks-01.jpg">
                <p>You have gone down to the pool and, after a while, the sun has begun to set. However, you don't feel
                    like going up yet, so you decide to stay for a short reading.
                </p>
                <p>You decide it's a good time to finally read you Harry Potter and the Philosopher's Stone. Due to the
                    low light, you would like to activate the dark mode.
                </p>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="TASK 2: Add a friend">
            <div>
                <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/tasks-01.jpg">
                <p>You have to add your new colleague Jay SunnyDay, who has told you that he has a Bookflix account, as
                    a friend in Bookflix in the system.
                </p>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="TASK 3: Leave a Review">
            <div>
                <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/tasks-01.jpg">
                <p>This morning you finished the book "10 little niggers" and now you would like to add a review saying
                    how much you liked it.
                </p>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="TASK 4: Look for Friend Activity">
            <div>
                <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/tasks-01.jpg">
                <p>You have to add to your list of pending books the one your friend Jay SunnyDay is reading now.
                </p>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="TASK 5: Discover and read">
            <div>
                <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/tasks-01.jpg">
                <p>Now that you have finished reading all your books you want to read something new but you are not sure
                    which one.
                </p>
                <p>Read the currently most trendy book.
                </p>
            </div>
        </app-page-section>
    </section>

    <!-- High-fidelity prototype -->
    <section>
        <app-page-section sectionTitle="High-fidelity prototype" sectionSubtitle="Tasks">
            <div class="row g-4">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/7b5-3cD95VA?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/taSAuFhNfgQ?rel=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Smartphone screens">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-01.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-02.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-03.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-04.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-05.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-06.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-07.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-08.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-09.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-10.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-11.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-12.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-13.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-14.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-15.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-16.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-17.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-18.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-19.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/smartphone-20.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Tablet screens">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-01.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-02.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-03.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-04.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-05.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-06.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-07.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-08.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-09.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-10.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-11.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-12.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-13.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-14.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-15.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-16.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-17.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-18.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-19.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/bookflix/tablet-20.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Comparison">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/comparison-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/comparison-02.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/comparison-03.jpg">
        </app-page-section>
    </section>

    <!-- Usability testing -->
    <section>
        <app-page-section sectionTitle="Usability testing" sectionSubtitle="Research Question">
            What are the reasons for a person to choose one prototype over another?
        </app-page-section>

        <app-page-section sectionSubtitle="Material organization">
            <div class="row g-4">
                <div class="col d-flex flex-column justify-content-center">
                    <h6>Metric observation</h6>
                    <ul>
                        <li>Number of commands/actions used to carry out the task
                        </li>
                        <li>Time spent performing a task
                        </li>
                        <li>Number (or percentage) of errors
                        </li>
                        <li>The ratio of tasks performed correctly
                        </li>
                        <li>Time spent on errors and their recovery
                        </li>
                        <li>Frequency of use of the help (and/or manual)
                        </li>
                        <li>Task completion
                        </li>
                        <li>Satisfaction
                        </li>
                    </ul>
                </div>
                <div class="col d-flex flex-column justify-content-center">
                    <h6>Interview
                    </h6>
                    <ul>
                        <li>I saw you did X. Can you tell me why?
                        </li>
                        <li>What is your opinion about the system?
                        </li>
                        <li>What was the most difficult thing to do for prototype A?
                        </li>
                        <li>If you could change one thing on the system what would it be?
                        </li>
                        <li>What is the most natural way of accomplishing this task?
                        </li>
                        <li>Which prototype did you like more?
                        </li>
                        <li>Which one would you use for your routine?
                        </li>
                    </ul>
                </div>
            </div>

            <h6>Questionnaires
            </h6>
            <div class="row g-4">
                <div class="col">
                    <img class="img-fluid mb-2" src="assets/images/Projects/bookflix/questionnaires-01.jpg">
                </div>
                <div class="col">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/bookflix/questionnaires-02.jpg">
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Results -->
    <section>
        <app-page-section sectionTitle="Results">
            <p>Problem: device mismatch → bias, negative influence.</p>
            <p>We had to use a laptop screen instead of a tablet to show the prototype because the testings were
                performed online.</p>
        </app-page-section>

        <app-page-section sectionSubtitle="Metrics of the tasks">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/usability-test-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/usability-test-02.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/usability-test-03.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/usability-test-04.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/usability-test-05.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="SUS">
            <div class="row g-4">
                <div class="col-2 col-md-1 big-number">
                    01
                </div>
                <div class="col-10 col-md-5">
                    <h6>Score: 75
                    </h6>
                    <p>Smartphone prototype
                    </p>
                </div>

                <div class="col-2 col-md-1 big-number">
                    02
                </div>
                <div class="col-10 col-md-5">
                    <h6>Score: 58
                    </h6>
                    <p>Tablet prototype
                    </p>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="UEQ">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/ueq-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/ueq-02.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/ueq-03.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/ueq-04.jpg">
        </app-page-section>

        <app-page-section sectionSubsubtitle="Confidence intervals">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/ueq-confidence-01.jpg">
            <img class="img-fluid" src="assets/images/Projects/bookflix/ueq-confidence-02.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Coding">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/coding-01.jpg">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/coding-02.jpg">

            <div class="row g-4">
                <div class="col-2 col-md-1 big-number">
                    01
                </div>
                <div class="col-10 col-md-5">
                    <h6>Prototype related
                    </h6>
                    <ul>
                        <li>Opinions about the overall system.
                        </li>
                        <li>Statements about the feel and look of the prototype.
                        </li>
                        <li>Expectation code: when the user was expecting a particular action or a confirmation of an
                            action.
                        </li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    02
                </div>
                <div class="col-10 col-md-5">
                    <h6>Task related
                    </h6>
                    <ul>
                        <li>Statements about actions that the user performed.
                        </li>
                        <li>Repeated and assumed things to happen strictly related to the task.
                        </li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    03
                </div>
                <div class="col-10 col-md-5">
                    <h6>Feelings
                    </h6>
                    <ul>
                        <li>Emotional responses to the task, prototype.
                        </li>
                        <li>Both positive and negative.
                        </li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    04
                </div>
                <div class="col-10 col-md-5">
                    <h6>Errors
                    </h6>
                    <ul>
                        <li>Statements about different types of errors faced during the process.
                        </li>
                        <li>Code division based on what caused them:
                            <ul>
                                <li>device mismatch (we used a laptop to test on)
                                </li>
                                <li>how we formulated the tasks
                                </li>
                                <li>implementation
                                </li>
                                <li>design decisions
                                </li>
                                <li>user-related errors
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Interpretation">
            <img class="img-fluid mb-4" src="assets/images/Projects/bookflix/interpretation.jpg">

            <ul>
                <li>Technological issues category: comments with technical difficulties the users encountered during the usability test. 
                </li>
                <li>Suggestions category: any type of comment that was a suggestion for the prototype.
                </li>
                <li>Negative feelings category: bigger number for the tablet prototype.
                </li>
                <li>Positive feelings category: low for both prototypes, but bigger for the phone prototype.
                </li>
            </ul>

            Conclusion: users prefer the smartphone prototype because it follows more their natural way of thinking and because of that they experience less negative feelings and more positive feelings. 
        </app-page-section>

        <app-page-section sectionSubtitle="Main problems of the prototypes">
            <div class="row g-4">
                <div class="col col-12 col-md-6 col-lg-4">
                    <h6>Prototype A (Phone)
                    </h6>
                    <p>The level of completion was shown, but only with a bar, and no percentage was provided, as the users would have wanted it. 
                    </p>
                    <p>The users didn't recognize that the prototype was scrollable because of the prototype mismatch. Missing scrollbar.
                    </p>
                    <p>Appearing text for the reviewing was automatically added, and some users wanted to delete the text.
                    </p>
                    <p>No profile view was provided.
                    </p>
                </div>
                <div class="col col-12 col-md-6 col-lg-4">
                    <h6>Prototype B (Tablet)
                    </h6>
                    <p>The search functionality was joint, which means that searching for a book and a friend used the same search bar. This confused the users.
                    </p>
                    <p>The search bar next to the search icon was actually a dropdown list to filter by categories of books. The search icon guided the user to a new searching page with a divided search option, which some users liked and some were confused by.
                    </p>
                    <p>No level of completion was provided on the book list.
                    </p>
                </div>
                <div class="col col-12 col-md-12 col-lg-4">
                    <h6>Both
                    </h6>
                    <p>Missing additional text information about a book (the cover was not always readable).
                    </p>
                    <p>Missing numbers in the top10 ranking, so users were confused about the order.
                    </p>
                    <p>No information was given about the chronological order or the date that the book was last opened (or finished).
                    </p>
                    <p>In some cases, the back button was not implemented.
                    </p>
                    <p>The users associated some of the functionalities not related to reading a book, but a profile setting (e.g. put the dark mode).
                    </p>
                </div>
            </div>
        </app-page-section>
    </section>
</div>