<app-project-cover title="InSignum" image="assets/images/project-covers/Cover InSignum.jpg">
</app-project-cover>

<div class="container">
  <app-info-section projectName="insignum"></app-info-section>

  <!-- Problem -->
  <section>
    <app-page-section sectionTitle="Problem">
      Consciously or not, people able to hear constantly analyze sounds around
      them, to be able to orientate and to understand what is happening. Deaf
      people can only rely on visual and haptic stimuli, so their awareness is
      usually limited to the room in which they are. Our target user is often
      frustrated or anxious to know what is happening inside the house. Things
      as simple as someone knocking at the door, or it’s raining outside, are
      all things we take for granted, without considering that not everyone has
      this luxury.

      <div class="row g-4">
        <div class="col-lg-10">
          <img class="img-fluid" src="assets/images/Projects/insignum/problem-01.jpg">
        </div>
        <div class="col-lg-10">
          <img class="img-fluid" src="assets/images/Projects/insignum/problem-02.jpg">
        </div>
      </div>
    </app-page-section>
  </section>

  <!-- Target user -->
  <section>
    <app-page-section sectionTitle="Target user">
      <div class="row mb-4">
        <div class="col-2 col-lg-1">
          <img class="img-fluid" src="assets/images/Projects/insignum/deaf.png">
        </div>
        <div class="col-4 col-lg-5">
          <h6>Deaf</h6>
        </div>
        <div class="col-2 col-lg-1">
          <img class="img-fluid" src="assets/images/Projects/insignum/dhh.png">
        </div>
        <div class="col-4 col-lg-5">
          <h6>Hard of Hearing (DHH)</h6>
        </div>
      </div>

      <ul>
        <li>Often frustrated or anxious.</li>
        <li>
          Invest money in technologies from which to benefit (wearable smart
          tech, smart lighting solutions).
        </li>
        <li>May live alone or not.</li>
      </ul>
    </app-page-section>
  </section>

  <!-- Brainstorming -->
  <section>
    <app-page-section sectionTitle="Brainstorming">
      <p>Sounds categories (to which we associate a color in the prototype):</p>
      <ul>
        <li>Alarms: fire alarm, carbon monoxide detector.</li>
        <li>Doorbell: doorbell, phone ring, ring of a video call.</li>
        <li>Water: opened taps, water leaks, water sounds inside the house.</li>
        <li>
          Electronic devices: TV sounds, computers, music from speakers,
          completed dryer.
        </li>
        <li>
          Heating devices: oven. They might involve fire hazards or a fast
          reaction.
        </li>
        <li>Outside noise: rain, automatic watering system, lawnmower.</li>
      </ul>

      <p>Ideas for smart house systems based on visual clues:</p>
      <ul>
        <li>
          Full light system: lights on a surface area (ceiling, wall, floor).
        </li>
        <ul>
          <li>Directional lights: to lead the user to the sound.</li>
          <li>Ripples: to model the intensity of the sound.</li>
        </ul>
        <li>
          Wearable device: the user would be notified of a sound by a wearable
          device (such as bracelets, smartwatch, smart glass).
        </li>
        <li>
          Central portable board: digital panel the user could put anywhere in
          the house and on which information would be displayed.
        </li>
        <ul>
          <li>Map of the house on which sound icons are drawn.</li>
          <li>
            Colored grid, where rows are rooms and columns are types of sound.
          </li>
          <li>
            Something more abstract: a colored grid or a painting changing
            depending on the current sounds in the house.
          </li>
        </ul>
      </ul>

      <div class="row">
        <div class="col-7 col-md-4">
          <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-01.jpg">
          <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-02.jpg">
          <img class="img-fluid" src="assets/images/Projects/insignum/brainstorming-03.jpg">
        </div>
        <div class="col-7 col-md-4">
          <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-04.jpg">
        <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-05.jpg">
        <img class="img-fluid" src="assets/images/Projects/insignum/brainstorming-06.jpg">
        </div>
        <div class="col-7 col-md-4">
          <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-07.jpg">
        <img class="img-fluid mb-4" src="assets/images/Projects/insignum/brainstorming-08.jpg">
        <img class="img-fluid" src="assets/images/Projects/insignum/brainstorming-09.jpg">
        </div>
      </div>
    </app-page-section>
  </section>

  <!-- Interviews -->
  <section>
    <app-page-section sectionTitle="Interviews: 2 Deaf and 1 Hard of Hearing">
      <p>General:</p>
      <ol>
        <li>
          What was the last time they had difficulties communicating (during
          their trip for example) or encountered a problem because they
          couldn’t hear something?
        </li>
        <li>How did you deal with the situation?</li>
        <li>
          What do you think is your biggest struggle that comes from not
          hearing sounds? And what is your biggest struggle from not being
          able to communicate verbally?
        </li>
        <li>
          What kind of problem do you encounter and that you think hearing
          people are absolutely not aware of?
        </li>
        <li>
          Do you use any kind of device to help you in your daily life? Does
          it work well? Do you remember a time it couldn’t help you?
        </li>
        <li>
          How have the masks for COVID impacted your daily interaction and
          communication with other people?
        </li>
        <li>
          Tell us about a bad experience while you tried to communicate with
          people wearing masks.
        </li>
        <li>
          If there was an alternative medium to warn you of a sound going on
          around you, which one do you think you would prefer, a vibration or
          a light?
        </li>
      </ol>

      <p>Specific:</p>
      <ol>
        <li>
          Tell us about a situation where you were annoyed by something in the
          house that you couldn’t hear.
        </li>
        <li>
          Tell me about a situation you realized there was something happening
          outside you would have liked to know earlier.
        </li>
        <li>
          Tell me about a situation in which you had a problem with not
          understanding where a sound was coming from.
        </li>
        <li>
          Have you developed any specific habits at home to compensate for the
          hearing loss?
        </li>
        <li>
          What sounds are you the most concerned about because you can’t hear
          them?
        </li>
        <li>
          How would you prefer to be alerted? Examples: vibration on the
          wrist, or lights, or messages on screens
        </li>
        <li>
          Where would you like to receive an alert of a sound? From the room
          where the sound is happening or from a central place? Or other?
        </li>
        <li>
          On which occasions would you prefer to use an automated system that
          closes something after a certain time? (for example, an automated
          system that closes fridge doors).
        </li>
        <li>
          On which occasions would you prefer to use a detection system that
          alerts you to close something?
        </li>
        <li>
          For people with hearing aids (not completely deaf people): Would you
          prefer for nonurgent alarms to be louder or replaced with lights?
        </li>
        <li>
          Do you find yourself more often in dangerous situations at home or
          outside your home?
        </li>
      </ol>
    </app-page-section>
  </section>

  <!-- Findings -->
  <section>
    <app-page-section sectionTitle="Findings">
      <!-- First line -->
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        <div class="col">
          <h6>
            Annoying situations because of something that they could not hear
          </h6>
          <ul>
            <li>No knowledge about their own sounds.</li>
            <li>Unnecessary careful to don't make noise.</li>
            <li>
              Daylight conditions don't allow them to realize the warning
              lights.
            </li>
          </ul>
        </div>
        <div class="col">
          <h6>Situations related to sounds happening outside the house</h6>
          <ul>
            <li>
              Fear that someone sneak in through the windows when they fell
              asleep with the window open.
            </li>
            <li>
              Neighbors ring the bell when something bad is happening (e.g.
              flooding).
            </li>
          </ul>
        </div>
        <div class="col">
          <h6>Sounds are they most concerned about</h6>
          <ul>
            <li>
              Sounds that convey some degree of danger (e.g. burglars sneaking
              in the house, broken boiler, fires, or water running).
            </li>
            <li>
              Sounds in the kitchen are more important as they are more
              dangerous.
            </li>
            <li>Loudness of the TV.</li>
          </ul>
        </div>
        <div class="col">
          <h6>
            Where do they find themselves more often in dangerous situations
          </h6>
          <ul>
            <li>
              They believe that accidents happen more often at home rather
              than outside.
            </li>
            <li>
              Outside there are occasions where they can just “follow” the
              rest of the people. For example during an evacuation of a place.
            </li>
          </ul>
        </div>
        <div class="col">
          <h6>Where they would like to receive the warning for the sounds</h6>
          <ul>
            <li>
              A handheld portable device (like a wristband), since a device
              for every room could be expensive, and an object to carry all
              the time is uncomfortable.
            </li>
            <li>
              Warning lights on wall or floor (no ceiling because it's harder
              to notice). In general, at eye level.
            </li>
            <li>
              Arrows or light movements to indicate the location of the sound,
              and colours represent sounds (e.g. blue lights directing to the
              kitchen could mean open tap).
            </li>
            <li>
              No central place, to don't check in that place all the time.
            </li>
          </ul>
        </div>
        <div class="col">
          <h6>
            Development of any specific habits at home to compensate with the
            hearing loss
          </h6>
          <ul>
            <li>
              Actively paying close attention to everything, making sure that
              lights, stoves, or home appliances are off, and taps and windows
              are closed.
            </li>
            <li>
              Linking visual cues to sounds (e.g. turn on the extraction hood
              light every time she turns it on).
            </li>
            <li>
              Checking often the smartphone, especially if they are waiting
              for someone.
            </li>
            <li>
              Asking people to insist ontexting and calling several times,
              when they don't answer.
            </li>
          </ul>
        </div>
        <div class="col">
          <h6>
            Situations they didn't understand where a sound was coming from
          </h6>
          <ul>
            <li>Very annoying.</li>
            <li>Feeling vibrations, but don't know how to interpret them.</li>
            <li>Neighbor moving a sliding door making noise.</li>
          </ul>
        </div>
      </div>
    </app-page-section>
  </section>

  <!-- Questionnaires -->
  <section>
    <app-page-section sectionTitle="Questionnaires" sectionSubtitle="Questions">
      <p>
        Sent it to deaf associations, Facebook pages targeting deaf people,
        friends of deaf people, in 3 different languages (English, French, and
        Spanish).
      </p>

      <ul>
        <li>
          What sounds in their home our users find most crucial to be alerted
          about.
        </li>
        <li>
          Whether the sounds they themselves make are relevant to them or not.
        </li>
        <li>
          Whether a qualitative evaluation (ON/OFF) of the sounds in their
          environment is enough or they would value a quantitative approach
          (Loudness).
        </li>
        <li>
          How the user interprets colors: location of the sound, type of
          sound.
        </li>
        <li>
          What colors they instinctively correlate with what kind of sound.
        </li>
        <li>
          What colors they instinctively correlate with what room in the
          house.
        </li>
        <li>
          Whether the user would find most valuable in a centralized
          information panel somewhere in their house or some sort of
          portable/wearable system.
        </li>
        <li>
          For both options above, how the user reacted and interpreted our
          specific solutions.
        </li>
        <li>
          If our system used lights to alert its user, where they would prefer
          to have them placed.
        </li>
      </ul>

      <div class="row g-4">
        <div class="col-12 col-md-8 col-lg-5 col-xl-5"><img class="img-fluid" style="width: 100%;"
            src="assets/images/Projects/insignum/questionnaire-01.jpg"></div>
        <div class="col-12 col-md-10 col-lg-7 col-xl-6"><img class="img-fluid" style="width: 100%;"
            src="assets/images/Projects/insignum/questionnaire-02.jpg"></div>
      </div>

    </app-page-section>

    <app-page-section sectionSubtitle="Findings">
      <div class="row g-4">
        <div class="col-12 col-md-6">
          <h6>Ranking of importance of sounds:</h6>
          <li>Doorbell (93%)</li>
          <li>Water Taps (77%)</li>
          <li>Smoke/Fire Detector (72%)</li>
          <li>Major Appliances (66%)</li>
          <li>Ventilation and Heating (55%)</li>
          <li>Small Appliances (55%)</li>
          <li>Broken Glass (50%)</li>
          <li>Alarm Clock (50%)</li>
          <li>Sounds from people in the house (44%)</li>
          <li>Phones & Faxes (38%)</li>
          <li>Consumer Electronics (38%)</li>
          <li>Rain/Wind outside (38%)</li>
          <li>Street Sounds (16%)</li>
          <li>Neighbors Sounds (16%)</li>
        </div>
        <div class="col-12 col-md-6">
          <h6>Location of lights in each room:</h6>
          <ul>
            <li>ceiling (44%)</li>
            <li>molding (61%)</li>
            <li>walls (50%)</li>
            <li>skirting board (38%)</li>
            <li>floor (50%).</li>
          </ul>
          <h6>Wearable component to:</h6>
          <ul>
            <li>access cameras in the house (44% strongly agreed)</li>
            <li>snooze/dismiss notifications (70% strongly agreed)</li>
            <li>know which object is making sound (66% strongly agreed)</li>
            <li>know where the sound is coming from (55% strongly agreed)</li>
          </ul>
          <h6>
            Preference for haptic feedback through such wearable device:
          </h6>
          <ul>
            <li>vibration (55%)</li>
            <li>squeeze (0%)</li>
            <li>taps (0%)</li>
            <li>a combination of all 3 modes (33%)</li>
          </ul>
        </div>
      </div>
    </app-page-section>
  </section>

  <!-- Ideation -->
  <section>
    <app-page-section sectionTitle="Ideation" sectionSubtitle="Design choices">
      <ul>
        <li>
          61% want to be aware of their own sounds
          <br />
          38 % said they had no interest in that
          <br />
          → include their own sounds.
        </li>

        <li>
          72% want to have insights into the intensity of the sounds
          <br />
          22% had no interest in that
          <br />→ include volume.
        </li>

        <li>
          68% correlated sound with the type of objects that are producing it
          <br />
          32% correlated it with the type where it is coming from
          <br />→ set the first one as the default, but allow customization
        </li>

        <li>
          Some users would prefer this system to be unrecognizable by visitors
          as a hearing aid
          <br />Others did not seem to mind at all <br />→ bridge this gap and
          design for transparency.
        </li>

        <li>
          Users know what object is making a sound mostly for House Map and
          Decorative Abstract object
          <br />They are aware of object’s location only with House Map.
          <br />Grid representing different rooms did not test well for either
          question. <br />→ access to a centralized House Map could be very
          fruitful but not necessarily the main attraction of the ideal
          solution.
        </li>
      </ul>
    </app-page-section>

    <app-page-section sectionSubtitle="Architecture of the system">
      <div class="row">
        <div class="col-2 col-lg-1 big-number">
          01
        </div>
        <div class="col-10 col-lg-8">
          <h6>Vibrating wearable smartwatch</h6>
          <p>WearOS application that alerts to any sound in the house.</p>
          <img class="img-fluid" src="assets/images/Projects/insignum/smartwatch.jpg">
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-2 col-lg-1 big-number">
          02
        </div>
        <div class="col-10 col-lg-11">
          <h6>House-wide smart lightning</h6>
          <p>
            Indicates the direction to the noise source in case the
            smartwatch is for some reason not accessible.
          </p>
          <p>Easy to set up:</p>
          <ul>
            <li>
              Replace ceiling light bulbs with smart-home alternatives
            </li>
            <li>Install a light bulb on top of each door.</li>
          </ul>
        </div>
      </div>
      <p>
        2 different alert channels: less anxiety when not paying attention
        to one of them.
      </p>
      <ol>
        <li>
          The light in the room the user is currently in changes color.
        </li>
        <li>
          A notification pop-up in the smartwatch containing location and
          nature of the sound.
        </li>
      </ol>
      <p>
        A notification pop-up in the smartwatch containing location and
        nature of the sound.
      </p>
    </app-page-section>
  </section>

  <!-- Design -->
  <section>
    <app-page-section sectionTitle="Design">
      <app-page-section sectionSubtitle="Storyboard">
        <p>
          “Diana is a deaf person who lives alone. She is feeling bad at her
          home, she usually has strong migraine attacks. After having breakfast
          and try to do some cleaning she has to go to the sofa to lie and rest
          a bit because she cannot stand the headache anymore. While sleeping on
          the sofa, she feels a vibration in her smartwatch that slightly wakes
          her up, then she sees a blue light moving toward the other part of the
          house. Then she checks the screen of the smartwatch and sees a drop
          icon with the text, water tap running in the big bathroom. She stands
          up and goes to close it right before it starts to overflow.”
        </p>
        <p>
          “Diana is still in the shower. The light turns red. She get out of the
          shower to check her smartwatch. She sees a fire alarm icon appear on
          the screen and takes all of the screen (as it is an emergencies all
          other notifications are secondary). She clicks on it and see that the
          kitchen fire alarm is on then she gets there and sees that the
          radiator started to catch fire”
        </p>
      </app-page-section>
      <app-page-section sectionSubtitle="Smartwatch application">
        <p>Navigation map</p>
        <img class="img-fluid mb-4" src="assets/images/Projects/insignum/navigation-map.jpg">

        Home screen: shows what is currently happening in the house. “You
        have everything under control” when there are no notifications.
        <ul>
          <li>Notifications screen: list of all received notifications.</li>
          <li>
            Actions screen: status of the house. It shows:
            <ul>
              <li>
                map of the house with icons on locations of noise sources;
              </li>
              <li>
                views of the cameras that are around the house (if present);
              </li>
              <li>sensors status.</li>
            </ul>
          </li>
          <li>
            Setting screen:
            <ul>
              <li>editing house map or names of rooms;</li>
              <li>configuring sensors and lights;</li>
              <li>
                define notification settings (priorities or colors of lights)
              </li>
            </ul>
          </li>
        </ul>
      </app-page-section>
    </app-page-section>
  </section>

  <!-- Development -->
  <section>
    <app-page-section sectionTitle="Development" sectionSubtitle="The dollhouse">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-01.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-02.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-03.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-04.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-05.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-06.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/dollhouse-07.jpg"></div>
      </div>
    </app-page-section>
    <app-page-section sectionSubtitle="The smart lighting system">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-01.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-02.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-03.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-04.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-05.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-06.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-07.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-08.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-09.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-10.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-11.jpg"></div>
        <div class="col"><img class="img-fluid mb-4" src="assets/images/Projects/insignum/smart-light-12.jpg"></div>
      </div>
    </app-page-section>
  </section>

  <!-- Scenario -->
  <section>
    <app-page-section sectionTitle="Scenario (demo)">
      <ol>
        <li>
          The user is cooking in the kitchen. Suddenly, the light of the room
          becomes green and the smartwatch starts to vibrate. They have to check
          the smartwatch to see what is happening.
          <br />
          (A person is ringing the bell to deliver a package to the user, so
          they are testing the notification function and the camera view from
          the smartwatch).
        </li>
        <li>
          The user decides to have breakfast in the living room watching the TV.
          When they turn on the TV, the light of the living room turns on as
          well to indicate that the TV is turned on. The user does not want to
          have this permanent notification, so he decides to deactivate it for
          20 minutes.
          <br />
          (The user is testing the function of deactivating the light and
          smartwatch notifications for a given amount of time).
        </li>
        <li>
          While the user is watching the TV, the light of the room becomes red
          to indicate that an emergency is happening. Unfortunately, the
          smartwatch is out of battery, so the user has to follow the path
          designed by the lights around the house and discover what is
          happening.
          <br />
          (The user can test the path built from the lights around the house.
          Following them, he is able to find that there is a problem in the
          kitchen: they forgot to close the oven properly).
        </li>
      </ol>
    </app-page-section>
  </section>
</div>