<div class="arrow-image-section">
    <div class="row d-flex flex-wrap align-items-center">
        <div class="col-12 col-md-5 d-flex justify-content-center">
            <img class="img-fluid" [src]="imgBefore">
        </div>
        <div class="col d-flex justify-content-center">
            <img class="img-fluid arrow-image" src="/assets/images/Projects/arrow-horizontal.png">
        </div>
        <div class="col-12 col-md-5 d-flex justify-content-center">
            <img class="img-fluid" [src]="imgAfter">
        </div>
    </div>
</div>