<section style="padding-bottom: 30px;">
    <div class="row">
        <div class="col-12 col-lg-8">
            <app-page-section sectionTitle="About">
                <p>
                    {{project[0].about}}
                </p>
            </app-page-section>
        </div>
        <div class="col page-info-extra">
            <ul class="info-list">
                <li *ngIf="project[0].what" class="info-list-what">{{project[0].what}}</li>
                <li *ngIf="project[0].where" class="info-list-where"><a [href]="project[0].url"
                        target="_blank">{{project[0].where}}</a></li>
                <li *ngIf="project[0].duration" class="info-list-duration">{{project[0].duration}}</li>
                <li *ngIf="project[0].publication" class="info-list-publication">
                    <a class="text-truncate" [href]="project[0].publicationUrl"
                        target="_blank"><small>{{project[0].publication}}</small></a>
                </li>
                <li *ngIf="project[0].github" class="info-list-github">
                    <a [href]="project[0].github" target="_blank">GitHub repo</a>
                </li>
                <li *ngIf="project[0].tools" class="info-list-tools">
                    <div style="display: inline; margin-right: 3px;" *ngFor="let t of project[0].tools; index as i">
                        <span class="badge tool-badge">{{project[0].tools[i]}}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="project[0].video" div class="row mt-4">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]="getSafeVideoUrl(project[0].video)"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>