<footer data-bs-theme="dark" class="bg-body-tertiary text-center footer-background">
  <div class="container p-3 text-light">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Made with ❤️, ☕️, and Angular</h6>
        <small class="footer-text">Copyright &copy; {{ currentYear }} - Vania Ferrari</small>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Follow me</h6>
        <a href="https://www.linkedin.com/in/miriampunzi/" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/miriampunzi" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
          <i class="bi bi-github"></i>
        </a> 
        <a href="https://www.instagram.com/miriampunzi/" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://open.spotify.com/user/21qy5gkotdubuyfe77plgmscq" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
          <i class="bi bi-spotify"></i>
        </a>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Contact me</h6>
        <a href="mailto:&#109;&#112;&#117;&#110;&#122;&#105;&#57;&#55;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#109;&#112;&#117;&#110;&#122;&#105;&#57;&#55;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      </div>
    </div>
  </div>
</footer>