<footer data-bs-theme="dark" class="bg-body-tertiary text-center footer-background">
  <div class="container p-3 text-light">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Made with ❤️, ☕️, and Angular</h6>
        <small class="footer-text">Special thanks to Miriam Punzi, that provodived the original template</small>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Follow me</h6>
        <a href="https://www.linkedin.com/in/vania-ferrari/" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/vaffer94" class="ms-2 me-2 link-light link-body-emphasis" target="_blank">
            <i class="bi bi-github"></i>
        </a>
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <h6>Contact me</h6>
            <a
                href="mailto:&#118;&#97;&#110;&#105;&#97;&#46;&#102;&#101;&#114;&#114;&#97;&#114;&#105;&#48;&#48;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#118;&#97;&#110;&#105;&#97;&#46;&#102;&#101;&#114;&#114;&#97;&#114;&#105;&#48;&#48;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      </div>
    </div>
  </div>
</footer>