<app-project-cover title="Concert Randomization" image="assets/images/project-covers/Cover ConcertRandomization.jpg">
</app-project-cover>

<div class="container">
    <app-info-section projectName="concertrandomization"></app-info-section>

    <!-- Problem -->
    <section>
        <app-page-section sectionTitle="Problem">
            We want to train a neural network that applies <label class="label-strong">semantic segmentation</label> to
            concert photos to classify: musicians, musical instruments, stage decorations, etc.
            <div class="row mt-4 mb-4 d-flex justify-content-center">
                <div class="col-xl-10">
                    <app-arrow-images imgBefore="assets/images/Projects/concert-randomization/before-segmentation.jpg"
                        imgAfter="/assets/images/Projects/concert-randomization/after-segmentation.jpg"></app-arrow-images>
                </div>

            </div>
            Thousands of images (original and labeled ones) are needed (<label class="label-strong">Supervised
                Learning</label>)

            <p>
                But: the images are labeled by hand using a lot of patience!!
            </p>
        </app-page-section>
    </section>

    <!-- Idea -->
    <section>
        <app-page-section sectionTitle="Idea">
            <label class="label-strong">Automate the process!</label> The program:
            <ul>
                <li>
                    Generates random concert scenarios (random locations, musicians, musical instruments, ... with
                    random shapes, textures and animations)
                </li>
                <li>
                    Takes N snapshots of the generated scenario from random viewpoints
                </li>
                <li>
                    Annotates the photos automatically.
                </li>
            </ul>

            To improve the network accuracy and avoid over-fitting, the concert scenarios to generate have to be as
            varied as possible:
            <ul class="list-no-margin">
                <li>
                    random places, people, musical instruments, objects
                </li>
                <li>
                    random positions, textures, shapes
                </li>
                <li>
                    random special effects, lights
                </li>
            </ul>
        </app-page-section>

        <app-page-section>
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10">
                    <app-arrow-images imgBefore="assets/images/Projects/concert-randomization/before-segmentation-2.jpg"
                        imgAfter="/assets/images/Projects/concert-randomization/after-segmentation-2.jpg"></app-arrow-images>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Elements to randomize-->
    <section>
        <app-page-section sectionTitle="Elements to Randomize" sectionSubtitle="Places">
            <div class="row row-cols-2 row-cols-xl-3 g-4">
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-01.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-02.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-03.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-04.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-05.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-06.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-07.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-08.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-09.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/place-10.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="People">
            <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-02.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-03.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-04.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-05.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/people-06.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="Body shape randomization">
            <p>
                HOW: <a href="https://smpl.is.tue.mpg.de/" target="_blank">Skinned Multi-Person Linear Model</a>
            </p>

            <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/body-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/body-02.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/body-03.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/body-04.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="Texture randomization">
            <div class="row row-cols-3 row-cols-md-4 row-cols-lg-6 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/texture-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/texture-02.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/texture-03.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/texture-04.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Musical instruments">
            <div class="row row-cols-4 row-cols-md-4 row-cols-lg-6 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/instrument-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/instrument-02.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/instrument-03.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/instrument-04.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Objects">
            <div class="row row-cols-4 row-cols-md-4 row-cols-lg-6 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-03.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-04.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-05.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-06.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/object-08.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Smoke">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/smoke-01.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/smoke-02.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Lights">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/lights-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/lights-02.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Sky">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/sky-01.jpg">
                </div>
                <div class="col"><img class="img-fluid" src="assets/images/Projects/concert-randomization/sky-02.jpg">
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Development -->

    <section>
        <app-page-section sectionTitle="Development" sectionSubtitle="Placement of spawning points inside the scene">
            <p>HOW: Overriding the method OnDrowGizmos()</p>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/spawning-points-01.jpg"></div>
                <div class="col"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/spawning-points-02.jpg"></div>
            </div>

            <div class="square-element">
                <div class="square square-musician"></div>
                Musician Spawn Point: Select type of musician (singer, guitar,
                    piano, drums, cello, violin, ...)
            </div>
            <div class="square-element">
                <div class="square square-dancer"></div>
                Dancer Spawn Point: Select dance modality (sitted on a chair, sitted
                on the ground, standing)
            </div>
            <div class="square-element">
                <div class="square square-object"></div>
                Object Spawn Point: Select type of object
            </div>
            <div class="square-element">
                <div class="square square-smoke"></div>
                Smoke Spawn Point
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Crowd setup">
            Place a crowd in the scene, which will contain random people (with random textures and body shapes), with
            random separation and density between them.

            <div class="row mt-2 g-4">
                <div class="col-md-6 col-lg-4 col-xl-3"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/crowd-setup-01.jpg"></div>
                <div class="col-md-6 col-lg-8 col-xl-6"><img class="img-fluid"
                        src="assets/images/Projects/concert-randomization/crowd-setup-02.jpg"></div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Animation generation">
            HOW: <a href="https://www.kinetix.tech/" target="_blank">Kinetix</a>

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <app-arrow-images
                        imgBefore="assets/images/Projects/concert-randomization/animation-generation-01.gif"
                        imgAfter="/assets/images/Projects/concert-randomization/animation-generation-02.gif"></app-arrow-images>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Timeline setup">
            <p>
                HOW: <a href="https://docs.unity3d.com/Packages/com.unity.cinemachine@2.3/manual/index.html"
                    target="_blank">Cinemachine Virtual Cameras</a>
            </p>

            <img class="img-fluid" src="assets/images/Projects/concert-randomization/timeline-setup.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Postprocessing">
            <app-arrow-images imgBefore="assets/images/Projects/concert-randomization/pre-postprocessing.jpg"
                imgAfter="assets/images/Projects/concert-randomization/after-postprocessing.jpg"></app-arrow-images>
        </app-page-section>

        <app-page-section sectionSubtitle="Algorithm (pseudocode)">
            <div class="row">
                <div class="col">
                    <img class="img-fluid" src="assets/images/Projects/concert-randomization/algorithm.png">
                </div>
                <div class="col">
                    Only write the number of how many snapshots you want to generate (numCaptures), and then click play.
                    <img class="img-fluid mt-2" src="assets/images/Projects/concert-randomization/algorithm.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="When you launch the program, you're gonna see something like this...">
            <img class="img-fluid" style="width: 100%;"
                src="assets/images/Projects/concert-randomization/video-algorithm.jpg">
        </app-page-section>
    </section>

    <!-- Testing -->
    <section>
        <app-page-section sectionTitle="Testing" sectionSubtitle="Generated data">
            10.000 images with the correspondent labeled ones
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid mt-2" src="assets/images/Projects/concert-randomization/generated-data.jpg">
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Data preparation">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <label class="label-strong">Database division</label>:
                    <ul>
                        <li>
                            Training set: 60%
                        </li>
                        <li>
                            Validation set: 20%
                        </li>
                        <li>
                            Testing set: 20%
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <label class="label-strong">Data augmentation</label>:<br>
                    Improve network accuracy by randomly transforming the original data during training
                </div>
                <div class="col mt-4 mt-md-0">
                    <label class="label-strong">Class balancing with class weighting</label>:<br>
                    Give more importance to less dominant classes, because the learning is biased in favor of the
                    classes with more pixels (e.g. the floor)
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Network used in Matlab">
            <ul>
                <li>Deeplab v3+: convolutional neural network (CNN) designed for semantic image segmentation
                </li>
                <li>Resnet-18: pre-trained network that initializes the weights for Deeplab v3+
                </li>
            </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Results">
            With only 200 images:
            <div class="row mb-4">
                <div class="col-lg-8">
                    <img class="img-fluid" src="assets/images/Projects/concert-randomization/results-01.jpg">
                </div>
            </div>

            Test the network on one image (the green and magenta regions highlight areas where the segmentation results
            differ from the expected ground
            truth):
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-fluid" src="assets/images/Projects/concert-randomization/results-02.jpg">
                </div>
            </div>
        </app-page-section>
    </section>