<app-project-cover title="Espoora" image="assets/images/project-covers/Cover Espoora.png">
</app-project-cover>

<div class="container">
    <app-info-section projectName="espoora"></app-info-section>

    <!-- Problem -->
    <section>
        <app-page-section sectionTitle="Problem">
            <p>
                Espoo is a high tech hotspot where they are planning to have a city as a service model to serve its
                citizens. It is an innovation and adventure hub and it is the most digitized city in Europe.
                Most of the tourists visit Espoo to enjoy different events organized in nature, or they come for
                international conferences and business events.
            </p>
            <p>
                The challenge we had to work on was the following:
            </p>

            <img class="img-fluid mb-4" src="assets/images/Projects/espoora/challenge.png">

            <p>
                We started listing various groups of people connected to our challenge, mapping how satisfied they are
                with the current situation and anticipating how they would feel about changes in the area.
            </p>

            <img class="img-fluid mb-4" src="assets/images/Projects/espoora/map.jpg">
        </app-page-section>
    </section>

    <!-- User Research -->
    <section>
        <app-page-section sectionTitle="User Research">
            For now Espoo haven't focalized a lot on digital communication in the tourism field.
            Since most of the tourists come to Espoo to join events, we decided to focus on tourists as well as
            event organizers. So, we performed 5 interviews to them, and we discovered several problems that could
            be solved with the help of digitalization.
        </app-page-section>

        <app-page-section sectionSubtitle="Personas" sectionSubsubtitle="Tim (the tourist)">
            <div class="row">
                <div class="col col-12 col-lg-8">
                    <img class="img-fluid mb-4" style="width: 100%;"
                        src="assets/images/Projects/espoora/persona-01.jpg">
                </div>
                <div class="col col-12 col-lg-4">
                    <p>
                        Tim is a tourist who would like to participate in some events in Espoo. He has to go on the
                        website visitespoo.fi, and then after having chosen an event, he
                        has to
                        organize the travel.
                    </p>
                    <p>
                        The problems are that:
                    <ul>
                        <li>visitespoo.fi is not a famous website, so Tim can not be aware of its existence</li>
                        <li>for organizing the travel, he has to keep track of several apps (like Booking, Tripadvisors,
                            GMail,
                            Ryanair)</li>
                    </ul>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="Elena (the Event Organizer)">
            <div class="row">
                <div class="col col-12 col-lg-8">
                    <img class="img-fluid mb-4" style="width: 100%;"
                        src="assets/images/Projects/espoora/persona-02.jpg">
                </div>
                <div class="col col-12 col-lg-4">
                    After finding a place and choosing the dates, she has to:

                    <ul>
                        <li>contact many places to find one free on the chosen dates</li>
                        <li>contact various hotels and restaurants, hoping that they are free as well on the chosen
                            dates</li>
                        <li>organize transportation</li>
                        <li>consider various constraints and tourists requirements</li>
                    </ul>

                    <p>
                        All the process is performed among several chatting apps and social media, and all the
                        information of the events are shared between
                        event organizers through excel files or google docs.

                    </p>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Key Insights">
            <ul>
                <li>Cultural event organizer needs advertisement and collaboration with local companies, because its
                    potential participants are not familiar with the event content and thus not aware if it's worth
                    going.
                </li>
                <li>Foreign tourist needs communication ability and ease of access, because want to make the most out of
                    the experience, avoiding missing grat opportunities.
                </li>
                <li>Business visitors need travel efficiency and proper communicate instructions, because they don't
                    want to waste time because of time contrasints.
                </li>
            </ul>
        </app-page-section>

        <app-page-section sectionSubsubtitle="Technique of 5 Whys">
            <div class="row">
                <div class="col col-12 col-md-6">
                    Discoverability of information for tourists is difficult.
                    <ol>
                        <li>Why? Because the system is not so dynamic now.
                        </li>
                        <li>Why? Because there are only webpages, physical kiosks for tickets and service points.
                        </li>
                        <li>Why? Because the city didn't focus a lot on visitors.
                        </li>
                        <li>Why? Because Espoo is in the vicinity of Helsinki and other big cities. Visitors prefer
                            staying in
                            these cities after visiting Espoo for any events.
                        </li>
                        <li>Why? Becaue initially they didn't focus on tourism but now they want to expand
                        </li>
                    </ol>
                </div>
                <div class="col col-12 col-md-6">
                    Visitor do not prefer to download applications for information.
                    <ol>
                        <li>Why? Because they prefer to look for information from other sources.
                        </li>
                        <li>Why? Because they don't want to spend time in learning how to use a new app.
                        </li>
                        <li>Why? Because it's not worth since they are going to use it only for few days.
                        </li>
                        <li>Why? Because they prefer to relax and enjoy the travel more.
                        </li>
                        <li>Why? Because they're on holiday.
                        </li>
                    </ol>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubsubtitle="HMW (How Might We) questions">
            <div class="row g-4">
                <div class="col-12 col-md-6">HMW make the communication more effective between event organizers and
                    tourists, so that tourists
                    and event organizers could find, access or create, advertise more easily the events?</div>
                <div class="col-12 col-md-6">HMW digitalize the info point, so that tourists could be up-to-date with
                    all the information about
                    events in a more dynamic way?</div>
                <div class="col-12 col-md-6">HMW improve the communication between event organizers and local companies,
                    so that event organizers
                    could cooperate in an effortless way with restaurants, hotels and transportations?</div>
            </div>
        </app-page-section>
    </section>

    <!-- Idea-->
    <section>
        <app-page-section sectionTitle="Idea">
            <p>Espoora consists mainly of 2 elements:</p>
            <div class="row g-4 mb-4">
                <div class="col-2 col-md-1 big-number">
                    01
                </div>
                <div class="col-10 col-md-5">
                    <h6>Web Portal</h6>
                    To present and manage events.
                </div>

                <div class="col-2 col-md-1 big-number">
                    02
                </div>
                <div class="col-10 col-md-5">
                    <h6>Chatbot</h6>
                    To have a smarter and more interactive access to information on events but also on the city itself.
                </div>
            </div>

            We didn't want to create a
            new App, mainly because the visitors will install it and maybe delete in just few days, at the end of
            the travel.
        </app-page-section>

        <app-page-section sectionSubtitle="Scenario">
            <div class="row mb-4">
                <div class="col col-12 col-lg-8">
                    <img class="img-fluid" src="assets/images/Projects/espoora/scenario-01.jpg">
                </div>
                <div class="col col-12 col-lg-4">
                    <p>Elena wants to organize a music festival, so she creates the event on Espoora, inserting dates,
                        places and
                        expected number of participants.</p>
                    <p>Accommodations, restaurants and other attractions can make offers, discounts or deals for
                        tourists.</p>
                    <p>Elena can finally publicize the event on Espoora, so now tourists can see it and join it.</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col col-12 col-lg-8">
                    <img class="img-fluid" src="assets/images/Projects/espoora/scenario-02.jpg">
                </div>
                <div class="col col-12 col-lg-4">
                    <p>Tim, on the other hand, discover through the chatbot that there is a new event in Espoo and
                        decides to go.</p>
                    <p>So, he chooses one of the suggested accommodations, pays and gets the ticket of the event.</p>
                </div>
            </div>

            <div class="row">
                <div class="col col-12 col-lg-8">
                    <img class="img-fluid" src="assets/images/Projects/espoora/scenario-03.jpg">
                </div>
                <div class="col col-12 col-lg-4">
                    <p>When Tim arrives in the city, he can eat in one of the restaurants that are sponsored by the
                        event and have
                        a discount.</p>
                    <p>Also, through the chatbot he can get information about the event and places to visit around.</p>
                    <p>And finally, he can join the music festival!</p>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Portal Design -->
    <section>
        <app-page-section sectionTitle="Portal Design">
            <img class="img-fluid" src="assets/images/Projects/espoora/web.png">
        </app-page-section>
    </section>

    <!-- Business Model -->
    <section>
        <app-page-section sectionTitle="Business Model">
            <img class="img-fluid" src="assets/images/Projects/espoora/business-model.png">
        </app-page-section>

        <app-page-section sectionSubtitle="SWOT analysis">
            <img class="img-fluid" src="assets/images/Projects/espoora/swot.png">
        </app-page-section>

        <app-page-section sectionSubtitle="Competitors">
            <ul>
                <li>They don't focus on specific cities.</li>
                <li>There are no efficient channels for
                    communication and collaboration among event organizers and other stakeholders.</li>
                <li>On the tourist side, they
                    don't offer a companion platform that supports services throughout the entire travelling flow.</li>
            </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Value Proposition">
            <img class="img-fluid mb-4" src="assets/images/Projects/espoora/value-proposition.jpg">
            <p>For tourists, we create the value of discoverability of events through decentralized information
                distribution.
            </p>
            <p>For both tourists and event organizers, the process is simplified because the entire process of
                organizing
                or participating in an event is in one place.</p>
            <p>For the local companies like hotels or restaurants, we create visibility. With our platform, the
                marketplace is more transparent for them.</p>
        </app-page-section>

        <app-page-section sectionSubtitle="Income Model">
            <p>We
                don't want to make the user pay more just for having an easy and integrated platform to deal with the
                most
                problematic aspects of a trip.</p>
            <p>Since Espoora provides a unique ticketing system for events, we are planning to take a percentage out of every ticket sold and every room booked.
                </p>
            <p>We believe that hotels or those who offer accommodations are willing to give up a small part of
                the profit for a service like ours, moreover this is what the competition already does.</p>
        </app-page-section>

        <app-page-section sectionSubtitle="Enter to the market">
            <ol>
                <li>Publicize the platform through QR codes and social media.</li>
                <li>Expand the team with professionals (designers and engineers).</li>
                <li>Recruit people that will communicate with all partners.</li>
                <li>Better study the
                    processes already existing in hotels and restaurants. in order to better adapt the design of our platform.</li>
                <li>Ask the help of Espoo, which has a history in funding startups that offer services for the city.</li>
            </ol>
        </app-page-section>
    </section>

    <!-- Team -->
    <section>
        <app-page-section sectionTitle="The team">
            <img class="img-fluid"
                        src="assets/images/Projects/espoora/team.png">
        </app-page-section>
    </section>