<nav class="navbar navbar-expand-lg navbar-dark navbar-invisible">
  <div class="container">
    <a class="navbar-brand" style="margin-left: 20px;" href="">Vania Ferrari</a>
    <button class="navbar-toggler" style="margin-right: 10px;" type="button" data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
    aria-label="Toggle navigation" (click)="OnClick()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" style="margin-right: 10px;">
        <li class="nav-item">
          <a class="nav-link" href="">Home</a>
        </li>
        <li class="nav-item">
          <a href="/#projects" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="/assets/docs/VaniaFerrari_cv2025.pdf" target="_blank">Resume</a>
        </li>
      </ul>
    </div>
  </div>
</nav>