nav {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    transition: background-color 0.2s;
}

.navbar-invisible {
    background: transparent;
}

.navbar-visible {
    background: var(--navbar);
}

ul {
    padding-top: 0px;
    list-style-type: none;
    margin-left: 0px;
}

li {
    padding-bottom: 0px;
}

a {
    color: white;
}

@media (max-width: 991.98px) { 
    li {
        margin-left: 20px;
    }
}