.page-section-title {
    color: var(--textTitle);
}

.page-section-subtitle {
    color: var(--textSubtitle);
}

.page-section-subsubtitle {
    color: var(--text);
}

.row-section {
    padding-bottom: 30px;
}