<div class="row">
  <div class="education-row" [ngClass]="{ 'education-row-last': index === education.length - 1 }">
    <div>
      <img class="education-image" [src]="education[index].graduationPhoto" />
    </div>
    <div class="education-text">
      <h5>{{ education[index].studyTitle }}</h5>
      <p>
        <a [href]="education[index].url" target="_blank">{{
          education[index].university
          }}</a>

        <br />

        <small>{{ education[index].years }}</small>
      </p>
    </div>
  </div>
</div>