<app-project-cover title="PopupBreak" image="assets/images/project-covers/Cover PopupBreak.jpg">
</app-project-cover>

<div class="container">
    <app-info-section projectName="popupbreak"></app-info-section>

    <!-- Problem -->
    <section>
        <app-page-section sectionTitle="Problem">
            <p>Stationary work and study settings may lead to harmful consequences to people's physical and emotional
                health. Many people start to realize their problems and intend to make a change, but they still need
                reminders and guidance.</p>
            We did 9 interviews among students and sedentary workers, investigating their lifestyles. The common
            problems we found are:
            <ul>
                <li>Forgetting to take a pause, especially when fully focused on the work.</li>
                <li>Forgetting drinking water or don't drink enough during the day.</li>
                <li>Eyesight problems due to long screen time.</li>
                <li>Back pain due to bad posture.</li>
                <li>Sleep insomnia due to too much blue light exposure.</li>
                <li>Stress and tension during the week.</li>
            </ul>
        </app-page-section>
    </section>

    <!-- Interview -->
    <section>
        <app-page-section sectionTitle="Interviews">
            <div class="row g-4">
                <div class="col-2 col-md-1 big-number">
                    01
                </div>
                <div class="col-10 col-md-11">
                    <p>Routine: occupation, computer usage, sleeping, eating, drinking habits.</p>
                    <ul>
                        <li>What is your occupation?</li>
                        <li>Could you tell us about your routine everyday?</li>
                        <li>How many hours do you work/study in front of the computer everyday?</li>
                        <li>How structured is your routine? Do you have a fixed schedule or are you more flexible with
                            times?</li>
                        <li>Can you tell me about the last time you had trouble falling asleep? Why do you think that
                            happened? </li>
                        <li>How often do you eat something while working?</li>
                        <li>How much water do you drink every day? (# glasses, # water bottles) </li>
                        <li>How would you qualify your eyesight? Do you think work affects it much? </li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    02
                </div>
                <div class="col-10 col-md-11">
                    <p>Physical habits: posture and view, problems, exercises.</p>
                    <ul>
                        <li>How often do you exercise? For how long? Are you satisfied with it?</li>
                        <li>Could you tell me the story of the last time you had some sort of pain after working? Why do
                            you
                            think that was? (e.g. back pain, stiffness, …) </li>
                        <li>Follow up: Was it due to working long hours on your laptop and how did it affect you? Did
                            you
                            have to go to a doctor? What were his recommendations? </li>
                        <li>How would you qualify your posture? How do you keep straight? </li>
                        <li>Are you familiar with active pauses? Do you do them? Why not?</li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    03
                </div>
                <div class="col-10 col-md-11">
                    <p>Breaks: frequence, duration, descriptions</p>
                    <ul>
                        <li>What is the longest you have worked without taking a pause? </li>
                        <li>How often do you do breaks while working? And how long are they?</li>
                        <li>Are the breaks predefined? Or do you do them voluntarily at will?</li>
                    </ul>
                </div>

                <div class="col-2 col-md-1 big-number">
                    04
                </div>
                <div class="col-10 col-md-11">
                    <p>Distractions: frequence, motivations, causes.</p>
                    <ul>
                        <li>Do you easily distract yourself using the phone while working? Why? What do you do when you
                            are
                            distracted?</li>
                        <li>Can you tell me which kind of notifications you do NOT ignore? What is it about them that
                            makes
                            you wanna stop and pay attention to them?</li>
                        <li>Can you tell me about the last time you were interrupted while working and you didn’t like
                            it?
                            Can you tell me about another time where you had no problem being interrupted? What was the
                            difference? (tolerance)</li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Target Users -->
    <section>
        <app-page-section sectionTitle="Target Users">
            <div class="row g-4">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/user-01.jpg">
                    <h6 class="text-center">Students</h6>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/user-02.jpg">
                    <h6 class="text-center">Sedentary workers</h6>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Design -->
    <section>
        <app-page-section sectionTitle="Design" sectionSubtitle="Alternative designs">
            <div class="row g-4">
                <div class="col-2 col-md-1 big-number">
                    <i class="bi bi-phone"></i>
                </div>
                <div class="col-10 col-md-5">
                    <h6>Mobile Version</h6>
                    <p>Distractions come from that</p>
                    <p>Can't use phone while working sometimes</p>
                </div>

                <div class="col-2 col-md-1 big-number">
                    <i class="bi bi-laptop"></i>
                </div>
                <div class="col-10 col-md-5">
                    <h6>Desktop App</h6>
                    <p>People have already PC open</p>
                    <p>Users that don’t use PC while working are not going to use our system probably</p>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Features of the system">
            <ul>
                <li>Virtual Coach (VC): working as a "ghost friend" to encourage users in applying good practices. It
                    pop-ups on the screen.</li>
                <li>Don't disturb mode: customize the level of intrusiveness, healthy interruptions, and alerting.</li>
                <li>Customize reminders: customize frequency and reminders. The user can create new ones (e.g. "Remember
                    to take this medicine").</li>
                <li>Good practices section: to encourage awareness. People can start planning their routine considering
                    them.</li>
                <li>Habit tracker: summarize activities' data (e.g.: work times, number of breaks, liters of water
                    drunk) daily, weekly, monthly. </li>
                <li>Positive reinforcement: the system shows the impact on the user's health of what has been done.</li>
                <li>Gamification: the system could reward the user according to the application of the good practices.
                </li>
                <li>Calendar synchronization: to bear in mind the other things to do. VC don't pop-up during calls and
                    meetings.</li>
            </ul>
        </app-page-section>

        <app-page-section sectionSubtitle="Virtual Coach">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    Reminders:
                    <ul>
                        <li>Do active breaks from the work, with stretching</li>
                        <li>Do eye exercises and eye breaks from the screens</li>
                        <li>Drink water</li>
                        <li>Eat a healthy snack</li>
                        <li>Keep a good posture</li>
                        <li>Mindfulness: deep breathing, mind spaces at beginning and end of the journey</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    Extra features:
                    <ul>
                        <li>It shows emotions and facial expressions to encourage the user</li>
                        <li>It shows the exercise to perform and tip that you need to do right now</li>
                        <li>It does things alongside the user if wanted (e.g. it does eye exercises at the same time
                            with the
                            user)</li>
                    </ul>
                </div>
            </div>

            <div class="row row-cols-2 row-cols-md-3 row-cols-xl-4 g-4">
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-01.jpg">
                    <h6 class="text-center">Happiness</h6>
                    <span class="badge bg-light text-dark">AUs: 6 + 12</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-02.jpg">
                    <h6 class="text-center">Courageous </h6>
                    <span class="badge bg-light text-dark">AUs: 10 + 12 + 46 + 55</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-03.jpg">
                    <h6 class="text-center">Surprise </h6>
                    <span class="badge bg-light text-dark">AUs: 1 + 2 + 5 + 26</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-04.jpg">
                    <h6 class="text-center">Sadness</h6>
                    <span class="badge bg-light text-dark">AUs: 1 + 4 + 15</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-05.jpg">
                    <h6 class="text-center">Anger</h6>
                    <span class="badge bg-light text-dark">AUs: 4 + 5 + 7 + 23</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-06.jpg">
                    <h6 class="text-center">Disappointment</h6>
                    <span class="badge bg-light text-dark">AUs: 10, 15, 29</span>
                </div>
                <div class="d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/vc-06.jpg">
                    <h6 class="text-center">Neutral</h6>
                    <span class="badge bg-light text-dark">AUs: -</span>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Prototype -->
    <section>
        <app-page-section sectionTitle="Prototype">
            <div class="row g-4">
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-01.jpg">
                    <h6>Welcome screen</h6>
                    <p>The VC is happy and is saying "Hi", showing a positive state of mind and a welcoming facial
                        expression.

                        The screen shows users their agenda for the day so that users can customize their breaks. </p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-02.jpg">
                    <h6>Pop-up</h6>
                    <p>When it is break time, the VC pops up eagerly at the corner.

                        Users can accept it, postpone it, or deny it. </p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-03.jpg">
                    <h6>Excercise screen</h6>
                    <p>The VC will do the breathing exercise along with the user, so his facial expression represents
                        guided respiration.

                        The page has instructions that guide users to inhale and exhale. </p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-04.jpg">
                    <h6>Drink reminder</h6>
                    <p>When the user accepts the drinking advice.

                        Users can choose the amount of water to take.

                        The VC will have a proud emotion here because we want to positively reinforce the user's
                        decision to accept a break.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-05.jpg">
                    <h6>Learn more screen</h6>
                    <p>Users can also check other good practices to encourage awareness.

                        When selecting the desired one the VC will return and react accordingly to the new facts being
                        learned.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-06.jpg">
                    <h6>Information screen</h6>
                    <p>This page is for users to have more information on healthy habits, like the fun facts in drinking
                        water for example.

                        The VC is in a surprised state because they are both learning something new. </p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-07.jpg">
                    <h6>Statistics screen</h6>
                    <p> The user can also track the evolution of their habits.

                        Comparison of today's data to yesterday's.

                        Weekly and monthly tendencies.

                        The VC's emotion would depend on users' achievements.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-08.jpg">
                    <h6>Achievement screen</h6>
                    <p>Displayed at the end of the working hours.

                        The VC will emphasize the user's achievements of that day. Depending on their behaviour, it will
                        react positively or negatively.</p>
                </div>
                <div class="col-12 col-xl-6">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/screen-09.jpg">
                    <h6>Customization of reminders screen</h6>
                    <p>This page is for users to customize their breaking sessions, so that this application can fit
                        every user's habits and goals. On the side, the VC is also offering some pre-set configurations
                        recommended specifically for the user (according to their behavior so far). So his facial
                        expression is winking, so that the user feels more guided towards accepting his suggestions.</p>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Usability Testing -->
    <section>
        <app-page-section sectionTitle="Usability Testing" sectionSubtitle="Illustrative Scenario">
            <img class="img-fluid" src="assets/images/Projects/popup-break/scenario.jpg">
        </app-page-section>

        <app-page-section sectionSubtitle="Video Demo">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/yFgZMnE5bU8?rel=0" allowfullscreen></iframe>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="From user thought to feature">
            <div class="row g-4">
                <div class="col-12 col-md-5">
                    "I don't want to invest so much time in setting up everything. I don't want to think, too many
                    configurations"
                </div>
                <div class="col-1">
                    <h6 class="text-center"><i class="bi bi-arrow-right"></i></h6>
                </div>
                <div class="col-11 col-md-6">
                    <ul>
                        <li>Include default settings.</li>
                    </ul>
                </div>

                <div class="col-12 col-md-5">
                    "I could be embarrassed in doing exercise in front of my colleagues"
                </div>
                <div class="col-1">
                    <h6 class="text-center"><i class="bi bi-arrow-right"></i></h6>
                </div>
                <div class="col-11 col-md-6">
                    <ul>
                        <li>Customize exercises, include some that are not so visible (like just move the neck,
                            contract some muscles).</li>
                        <li>Create profiles of reminders (e.g. "Work at office", "Work at home").</li>
                    </ul>
                </div>

                <div class="col-12 col-md-5">
                    "I wouldn't care a lot about the emotions of the Virtual Coach. How do you keep the users
                    engaged and motivated?"
                </div>
                <div class="col-1">
                    <h6 class="text-center"><i class="bi bi-arrow-right"></i></h6>
                </div>
                <div class="col-11 col-md-6">
                    <ul>
                        <li>Show videos of people that feel great about these new habits.</li>
                        <li>Include motivational messages and reviews from other users.</li>
                        <li>Add music according to the type of exercise or break to do.</li>
                    </ul>
                </div>
            </div>
        </app-page-section>
    </section>

    <!-- Development -->
    <section>
        <app-page-section sectionTitle="Development" sectionSubtitle="Tools">
            <div class="row g-4">
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/marc.jpg">
                    <h6 class="text-center">MARC</h6>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column justify-content-center">
                    <img class="img-fluid mb-2" style="width: 100%;"
                        src="assets/images/Projects/popup-break/java-swing.jpg">
                    <h6 class="text-center">Java Swing</h6>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="Architecture of the system">
            <img class="img-fluid mb-2" src="assets/images/Projects/popup-break/architecture.jpg">

            <div class="row">
                <div class="col-12 col-lg-6">
                    <h6>MARC framework</h6>
                    <ul>
                        <li>Generates in rea-time the facial animation for the given emotion.</li>
                        <li>Maps the emotions to a set of AUs combinations from our predefined library.</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-6">
                    <h6>PopUpBreak app</h6>
                    <ul>
                        <li>Takes that rendered animation and embeds it into our system in the respective screen it
                            corresponds. </li>
                        <li>Changes screens depending on the user interaction or if there is a time for a scheduled
                            break.</li>
                    </ul>
                </div>
            </div>
        </app-page-section>

        <app-page-section sectionSubtitle="State Machine">
            <img class="img-fluid mb-4" src="assets/images/Projects/popup-break/state-machine.jpg">
            <img class="img-fluid" src="assets/images/Projects/popup-break/transitions.jpg">
        </app-page-section>
    </section>
</div>